.container{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

padding: 20%;
}


.form{
    display: flex;
    align-items: center;
    flex-direction: column;
 
  height: 40vh;
  width: 50vh;
}



.input{
    height: 10%;
    width: 92%;
    padding-left: 3%;
    
}

.submit{
    margin-top: 5%;
    height: 5vh;
    width: 49vh;
    background-color: pink;
    border: none;
}


.submit:hover{
    background-color: red;
}

.text{
    align-self: flex-start;
}
